<nb-layout>

  <nb-layout-header fixed>
    <h3>APP</h3>
    <nb-actions class="left">
      <nb-action icon="person-outline" href="/profile"></nb-action>
      <nb-action icon="power-outline" (click)="logout()"></nb-action>
    </nb-actions>




    <!-- <img class="mainimage" src="/assets/images/main.png">
    &nbsp; -->
   



  </nb-layout-header>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <!-- <nb-layout-footer fixed>
  </nb-layout-footer> -->

</nb-layout>