.left {
    margin-left: auto;
  }
  .profile {
    cursor: pointer;
  }


.mainimage {
  width: 30px;
  height: 30px;
  border-radius: 0;
  object-fit: fill;
}

nb-layout-header {
  // flex: 1;
  overflow: hidden;
  height: 60px;
}