<nb-card>
  <nb-card-body>

    <div>
      <div id="left-bar">
        <nb-select placeholder="Data Set" (selectedChange)="onDataSetSelect($event)">
          <nb-option *ngFor="let ds of datasets" [value]="ds">{{ds}}</nb-option>
        </nb-select>
        &nbsp;
        <nb-select *ngIf="algos" placeholder="Select Algo" (selectedChange)="onAlgoSelect($event)">
          <nb-option *ngFor="let algo of algos" [value]="algo">{{algo}}</nb-option>

        </nb-select>


      </div>


    </div>
  </nb-card-body>
  <nb-card-footer>

    <div *ngFor="let img of images; index as idx" class="row">
      <div class="column">
        <img [src]="img.url" />
      </div>
      <div class="column1">
        <label>{{img.name}}</label>
        
        <nb-radio-group [name]="idx" (valueChange)="onRadioChange($event,idx)" layout-align="start center">
          <nb-radio *ngIf="img.ans == null" value="1">TRUE</nb-radio>
          <nb-radio *ngIf="img.ans == null" value="0">FALSE</nb-radio>

          <nb-radio *ngIf="img.ans !=null && img.ans" value="1" checked="true">TRUE</nb-radio>
          <nb-radio *ngIf="img.ans !=null && img.ans" value="0">FALSE</nb-radio>

          <nb-radio *ngIf="img.ans !=null && !img.ans" value="1">TRUE</nb-radio>
          <nb-radio *ngIf="img.ans !=null && !img.ans" value="0" checked="true">FALSE</nb-radio>
          
        </nb-radio-group>

      </div>

    </div>
    <nb-alert *ngIf="no_images_msg" outline="danger">No Images generated for this dataset and algo</nb-alert>



  </nb-card-footer>







</nb-card>