<nb-card>
  <nb-card-body>

<div>
    <div id="left-bar">
      <nb-select placeholder="Data Set" [(selected)]="selectedDataSet">
        <!-- <nb-option *ngFor="let algo of algos" [value]="algo">{{algo}}</nb-option> -->
        <nb-option value="DS 1">DS 1</nb-option>
        <nb-option value="DS 2">DS 2</nb-option>
        <nb-option value="DS 3">DS 3</nb-option>
      </nb-select>
      &nbsp;
      <nb-select placeholder="Result for Algo" [(selected)]="selectedAlgo">
        <!-- <nb-option *ngFor="let algo of algos" [value]="algo">{{algo}}</nb-option> -->
        <nb-option value="2">Algo 2</nb-option>
        <nb-option value="3">Algo 3</nb-option>
        <nb-option value="4">Algo 4</nb-option>
      </nb-select>
      &nbsp;
      <button nbButton>Submit</button>     
      
    </div>
   
    <div id="right-bar">
      <!-- <div id="center-bar"> -->
      <button nbButton (click)="next(0,gallery.selectedIndex)" [disabled]="!gallery.canShowPrev()">Show Prev</button>
      &nbsp;
      <button nbButton (click)="next(1,gallery.selectedIndex)" [disabled]="!gallery.canShowNext()">Show Next</button>
      <!-- </div> -->
      <nb-radio-group id="radioGrupo" [(value)]="selectedOption" layout="row" layout-align="start center">
        <nb-radio value="1">TRUE</nb-radio>
        <nb-radio value="0">FALSE</nb-radio>
      </nb-radio-group>
      <nb-alert *ngIf="showError && !selectedOption" outline="danger">Select TRUE/FALSE</nb-alert>

    </div>
  </div>
    <!-- <button nbButton (click)="prev($event)" [disabled]="!gallery.canShowPrev()">Show Prev</button>
    <button nbButton (click)="next($event)" [disabled]="!gallery.canShowNext()">Show Next</button> -->

    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" (onNext)="next($event)" #gallery>
    </ngx-gallery>

    <!-- </div> -->





  </nb-card-body>



</nb-card>