.space-component5 {
    height: auto;
    width: 12px;
    // align-items: flex-start;
    // align-content: flex-start;
    // justify-content: flex-start;
    overflow: visible;
  }

nb-progress-bar {
    margin-top: 1rem;
  }